{% extends "layout.html" %}

{% block content%}
<div class="container pt-4">
        <!-- For UX testing. Do not use this pattern in production. -->
        <a onclick="history.back()" href="#">Go back to search results</a>
    <h1>Details page</h1>
    <p>This page is under construction. It would give you more information about the record you selected, such as:</p>
    <ul>
        <li>The title</li>
        <li>The reference</li>
        <li>The description</li>
        <li>Where it sits in the catalogue</li>
        <li>The date</li>
        <li>Where the record is held</li>
        <li>The legal status of the record</li>
        <li>The closure status</li>
        <li>The delivery options, such as how to view the record in person at Kew, or how to view and download a digitised copy</li>
    </ul>

</div>
{% endblock %}