<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/hkj3kuz.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />
    <title>Search prototype</title>
</head>
<body>
    {% if config['DEBUG'] %}
    <h5 class="ml-4">This is the local dev environment (this message exists to prevent confusion with the live Heroku app when developing)</h5>
    {% endif %}
    <a id="skip-to-main-content" href="#main-content" class="sr-only sr-only-focusable">Skip to Main Content</a>
    {% include 'includes/header.html' %}
    <main id="main-content">
        {% block content %}
        {% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/global-search.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/mobile-filter-expander.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/search-buckets-expander.js') }}"> </script>

</body>
</html>