{% extends "layout.html" %}

{% block content%}
    <form method="GET" action="/search/featured" id="search-landing-form" role="search">
        {% include 'includes/search_landing_hero.html' %}
    </form>

    <div class="search-landing-buckets">
        <h2 class="search-landing-buckets__heading">Recently added</h2>
        <div class="search-landing-buckets__container--bordered">
            {% with buckets=collection_buckets %}
                {% include 'includes/search_landing_buckets.html' %}
            {% endwith %}
        </div>
        <h2 class="search-landing-buckets__heading">See all records from the catalogue</h2>
        <div class="search-landing-buckets__container">
            {% with buckets=catalogue_buckets %}
                {% include 'includes/search_landing_buckets.html' %}
            {% endwith %}
        </div>
        <h2 class="search-landing-buckets__heading">Browse content about our collections</h2>
        <div class="search-landing-buckets__container">
            {% with buckets=website_buckets %}
                {% include 'includes/search_landing_buckets.html' %}
            {% endwith %}
        </div>
    </div>
    

{% endblock %}