<nav class="pagination" aria-label="Results pagination" data-container-name="Pagination" id="analytics-pagination">
    <ul class="pagination__list">
        
            <li class="pagination__list-item">
                <span class="pagination__page-chevron-previous--disabled"></span>
            </li>
        
        <li class="pagination__list-pages" aria-label="Page numbers">
            <ol>
        
                
                    <li class="pagination__list-item">
                        <a class="pagination__page-link-current" href="#" aria-label="Current page, Page 1" aria-current="true" data-link="1"><span class="sr-only">Current page </span>1</a>
                    </li>
                
        
                
                    <li class="pagination__list-item"><a class="pagination__page-link" href="?page=2" aria-label="Go to page 2" data-link="2"><span class="sr-only">Page </span>2</a>
                    </li>
                
        
                
                    <li class="pagination__list-item"><a class="pagination__page-link" href="?page=3" aria-label="Go to page 3" data-link="3"><span class="sr-only">Page </span>3</a>
                    </li>
                
        
                
                    <li class="pagination__list-item"><a class="pagination__page-link" href="?page=4" aria-label="Go to page 4" data-link="4"><span class="sr-only">Page </span>4</a>
                    </li>
                
        
                
                    <li class="pagination__list-item"><a class="pagination__page-link" href="?page=5" aria-label="Go to page 5" data-link="5"><span class="sr-only">Page </span>5</a>
                    </li>
                
        
                
                    <li class="pagination__list-item"><a class="pagination__page-link" href="?page=6" aria-label="Go to page 6" data-link="6"><span class="sr-only">Page </span>6</a>
                    </li>
                
        
                
                    <li class="pagination__list-item"><a class="pagination__page-link" href="?page=7" aria-label="Go to page 7" data-link="7"><span class="sr-only">Page </span>7</a>
                    </li>
                
        
                
                    <li class="pagination__list-item"><a class="pagination__page-link" href="?page=8" aria-label="Go to page 8" data-link="8"><span class="sr-only">Page </span>8</a>
                    </li>
                
        
                
                    <li class="pagination__list-item"><a class="pagination__page-link" href="?page=9" aria-label="Go to page 9" data-link="9"><span class="sr-only">Page </span>9</a>
                    </li>
                
        
                
                    <li class="pagination__list-item"><a class="pagination__page-link" href="?page=10" aria-label="Go to page 10" data-link="10"><span class="sr-only">Page </span>10</a>
                    </li>
                
        
                
                    <li class="pagination__list-item"><a class="pagination__page-link" href="?page=11" aria-label="Go to page 11" data-link="11"><span class="sr-only">Page </span>11</a>
                    </li>
                
        
            </ol>
        </li>
        
            <li class="pagination__list-item">
                <a class="pagination__page-chevron-next" href="?page=2" data-link="Next page"><span class="sr-only">Next page</span></a>
            </li>
        
    </ul>
</nav>