<div class="search-filters">
    <h3 class="sr-only">Filters</h3>
    <div class="search-filters__form-block">
        {{form.online_only}}
        {{form.online_only.label}}
        <input type="submit" value="Update" class="search-filters__submit">

    </div>

    <div class="search-filters__form-block">
        {{form.search_within.label(class='search-filters__label--block')}}
        {{form.search_within}}
        <input type="submit" value="Search" class="search-filters__submit">
    </div>

    <div class="search-filters__form-block">
        <h4>Refine results by</h4>
        <div class="search-filters__accordion-section">
            <fieldset>
                <legend>
                    <h5 class="search-filters__accordion-section-heading">Date</h5>
                </legend>

                {% for date_field_key in form.meta.dates %}
                <div>
                    {{form[date_field_key]}}
                    {{form[date_field_key].label(class='search-filters__label')}}
                </div>
                {% endfor %}
                <input type="submit" value="Update" class="search-filters__submit">
            </fieldset>
            
        </div>
        <div class="search-filters__accordion-section">
            <fieldset>
                <legend>
                    <h5 class="search-filters__accordion-section-heading">Collection</h5></legend>
                {% for collection_field_key in form.meta.collections %}
                <div>
                    {{form[collection_field_key]}}
                    {{form[collection_field_key].label(class='search-filters__label')}}
                </div>
                {% endfor %}
            <input type="submit" value="Update" class="search-filters__submit">
            </fieldset>
        </div>
        <div class="search-filters__accordion-section">
            <h5 class="search-filters__accordion-section-heading"><a href="#">Topics</a></h5>
        </div>
        <div class="search-filters__accordion-section">
            <fieldset>
                <legend><h5 class="search-filters__accordion-section-heading">Catalogue level</h5></legend>
                {% for level_field_key in form.meta.levels %}
                <div>
                    {{form[level_field_key]}}
                    {{form[level_field_key].label(class='search-filters__label')}}
                </div>
                {% endfor %}
                <input type="submit" value="Update" class="search-filters__submit">
            </fieldset>
            
        </div>
        <div class="search-filters__accordion-section">
            <fieldset>
                <legend><h5 class="search-filters__accordion-section-heading">Closure status</h5></legend>
                {% for closure_field_key in form.meta.closures %}
                <div>
                    {{form[closure_field_key]}}
                    {{form[closure_field_key].label(class='search-filters__label')}}
                </div>
                {% endfor %}
                <input type="submit" value="Update" class="search-filters__submit">
            </fieldset>
            
        </div>
        <div class="search-filters__accordion-section">
            <fieldset>
                <legend>
                    <h5 class="search-filters__accordion-section-heading" id="record_opening_date">Record opening date</h5></fieldset>
                </legend>
                <p id="search_filters__opening-date-help-text">Helper text here</p>
                <label id="opening_date_from">From</label>
                <div class="search-filters__opening-date-section">
                    {{form.opening_date_from_yy}}
                    {{form.opening_date_from_mm}}
                    {{form.opening_date_from_dd}}
                </div>
                <label id="opening_date_to">To</label>

                <div class="search-filters__opening-date-section">
                    {{form.opening_date_to_yy}}
                    {{form.opening_date_to_mm}}
                    {{form.opening_date_to_dd}}
                </div>

                 <input type="submit" value="Update" class="search-filters__submit">
            </fieldset>



        </div>
    </div>
</div>