<div class="search-sort-view">
    <div class="search-sort-view__form">
        <label for="search-sort-select">
            <h3 class="search-sort-view__heading">Sort by</h3>
        </label>
        <select id="search-sort-select" class="search-sort-view__form-select" name="sort">
            <option selected>Relevance</option>
            <option>Date</option>
            <option>Title</option>
        </select>
        <input type="submit" value="Update" class="search-sort-view__form-submit">
    </div>

    <h3 class="search-sort-view__heading"><span class="sr-only">Display as:</span></h3>
    <ul class="search-sort-view__list">
        <li class="search-sort-view__list-item">
            <span aria-current="true" class="search-sort-view__icon-list">
                <span class="sr-only">List</span>
            </span>
        </li>
        <li class="search-sort-view__list-item">
            <a href="#"class="search-sort-view__icon-grid">
                    <span class="sr-only">Grid</span>
           </a>
        </li>
    </ul>
</div>