<div class="search-results-hero">
    <h1 class="search-results-hero__heading">Search results</h1>
    <div class="search-results-hero__form">
        {{ form.search_term.label(class='sr-only') }}
        {{ form.search_term }}
        <input type="submit" value="Search" class="search-results-hero__form-submit">
    </div>
    <h2 class="sr-only">{{search_type}}</h2>
    <nav class="search-results-hero__nav" aria-label="Search result types">
        <ul class="search-results-hero__nav-list">
            <li class="search-results-hero__nav-list-item">
                <a class="search-results-hero__nav-link" {% if 'featured' in selected_tab %} aria-current="true" {% else %} href="/search/featured"  {% endif %}>Featured results</a>
            </li>
            <li class="search-results-hero__nav-list-item">
                <a {% if 'catalogue' in selected_tab %} aria-current="true" {% else %} href="/search/catalogue"  {% endif %} class="search-results-hero__nav-link">Catalogue results</a>
            </li>
            <li class="search-results-hero__nav-list-item">
                <a class="search-results-hero__nav-link" {% if 'website' in selected_tab %} aria-current="true" {% else %} href="#" {% endif %}>Website results</a>
            </li>
        </ul>
    </nav>
</div>