<div class="search-filters">
    <h3 class="sr-only">Filters</h3>
    <div class="search-filters__form-block">
        <input type="checkbox" name="online-only" id="online-only" class="search-filters__checkbox">
        <label for="online-only" class="search-filters__label">Show online records only</label>
        <input type="submit" value="Update" class="search-filters__submit">

    </div>

    <div class="search-filters__form-block">
        <label for="search-within" class="search-filters__label--block">Search within results</label>
        <input type="search" name="search-within" id="search-within" class="search-filters__search">
        <input type="submit" value="Search" class="search-filters__submit">
    </div>

    <div class="search-filters__form-block">
        <h4>Refine results by</h4>
        <div class="search-filters__accordion-section">
            <fieldset>
                <legend>
                    <h5 class="search-filters__accordion-section-heading">Date</h5>
                </legend>
                <div>
                    <input type="checkbox" name="dates-unknown" id="dates-unknown" class="search-filters__date"><label for="dates-unknown" class="search-filters__label">Dates unknown</label> 
                </div>
                <div>
                    <input type="checkbox" name="1950+" id="1950+" class="search-filters__date"><label for="1950+" class="search-filters__label">1950+</label>
                </div>
                <div>
                    <input type="checkbox" name="1925-1949" id="1925-1949" class="search-filters__date"><label for="1925-1949" class="search-filters__label">1925 - 1949</label> 
                </div>
                <div>
                    <input type="checkbox" name="1900 - 1924" id="1900 - 1924" class="search-filters__date"><label for="1900 - 1924" class="search-filters__label">1900 - 1924</label>
                </div>
                <div>
                    <input type="checkbox" name="1800 - 1899" id="1800 - 1899" class="search-filters__date"><label for="1800 - 1899" class="search-filters__label">1800 - 1899</label>
                </div>
                <div>
                    <input type="checkbox" name="1700 - 1799" id="1700 - 1799" class="search-filters__date"><label for="1700 - 1799" class="search-filters__label">1700 - 1799</label> 
                </div>
                <div>
                    <input type="checkbox" name="1600 - 1699" id="1600 - 1699" class="search-filters__date"><label for="1600 - 1699" class="search-filters__label">1600 - 1699</label> 
                </div>
                <div>
                    <input type="checkbox" name="1500 - 1599" id="1500 - 1599" class="search-filters__date"><label for="1500 - 1599" class="search-filters__label">1500 - 1599</label> 
                </div>
                <div>
                    <input type="checkbox" name="1400 - 1499" id="1400 - 1499" class="search-filters__date"><label for="1400 - 1499" class="search-filters__label">1400 - 1499</label> 
                </div>
                <div>
                    <input type="checkbox" name="1300 - 1399" id="1300 - 1399" class="search-filters__date"><label for="1300 - 1399" class="search-filters__label">1300 - 1399</label> 
                </div>
                <div>
                    <input type="checkbox" name="1200 - 1299" id="1200 - 1299" class="search-filters__date"><label for="1200 - 1299" class="search-filters__label">1200 - 1299</label> 
                </div>
                <div>
                    <input type="checkbox" name="1100 - 1199" id="1100 - 1199" class="search-filters__date"><label for="1100 - 1199" class="search-filters__label">1100 - 1199</label> 
                </div>
                <div>
                    <input type="checkbox" name="1000 - 1099" id="1000 - 1099" class="search-filters__date"><label for="1000 - 1099" class="search-filters__label">1000 - 1099</label>
                </div>
                <div>
                    <input type="checkbox" name="1 - 999" id="1 - 999" class="search-filters__date"><label for="1 - 999" class="search-filters__label">1 - 999</label> 
                </div>
                <input type="submit" value="Update" class="search-filters__submit">
            </fieldset>
            
        </div>
        <div class="search-filters__accordion-section">
            <h5 class="search-filters__accordion-section-heading">Collection</h5>
        </div>
        <div class="search-filters__accordion-section">
            <h5 class="search-filters__accordion-section-heading"><a href="#">Topics</a></h5>
        </div>
        <div class="search-filters__accordion-section">
            <h5 class="search-filters__accordion-section-heading">Catalogue level</h5>
        </div>
        <div class="search-filters__accordion-section">
            <h5 class="search-filters__accordion-section-heading">Closure status</h5>
        </div>
        <div class="search-filters__accordion-section">
            <h5 class="search-filters__accordion-section-heading">Record opening date</h5>
        </div>
    </div>
</div>