<div class="search-sort-view">
    <h3 class="search-sort-view__heading">Sort by:</h3>
    <ul class="search-sort-view__list">
        <li class="search-sort-view__list-item"><span aria-current="true">Relevance</span></li>
        <li class="search-sort-view__list-item"><a href="#">Date</a></li>
        <li class="search-sort-view__list-item"><a href="#">Title</a></li>
    </ul>
    <h3 class="search-sort-view__heading"><span class="sr-only">Display as:</span></h3>
    <ul class="search-sort-view__list">
        <li class="search-sort-view__list-item">
            <span aria-current="true" class="search-sort-view__icon-list">
                <span class="sr-only">List</span>
            </span>
        </li>
        <li class="search-sort-view__list-item">
            <a href="#"class="search-sort-view__icon-grid">
                    <span class="sr-only">Grid</span>
           </a>
        </li>
    </ul>
</div>