<nav class="search-buckets">
    <ul class="search-buckets__list">
        <li class="search-buckets__list-item"><a href="#" class="search-buckets__link" aria-current="true">All records from The National Archives (42,403)</a></li>
        <li class="search-buckets__list-item"><a href="#" class="search-buckets__link">Online records from The National Archives (5,151)</a></li>
        <li class="search-buckets__list-item"><a href="#" class="search-buckets__link">All records from other UK archives (42,403)</a></li>
        <li class="search-buckets__list-item"><a href="#" class="search-buckets__link">Record creators (83)</a></li>
        <li class="search-buckets__list-item"><a href="#" class="search-buckets__link">Archives in the UK and beyond (12)</a></li>
    </ul>
</nav>